# Copyright (c) 2024 Valerio Setti
# SPDX-License-Identifier: MIT

config BOARD_MOUSTICK
	select SOC_RP2040
	select RP2_FLASH_W25Q080
	select ZMK_BOARD_COMPAT
	imply RETAINED_MEM
	imply RETENTION
	imply RETENTION_BOOT_MODE
